<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-show="isUser()" href="/collections" class="navbar-brand">MINdEXUS</a>
      <a ng-show="!isUser()"href="/" class="navbar-brand">MINdEXUS</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isUser()" ng-class="{active: isActive('/collections')}"><a href="/collections">My Collection</a></li>
        <li ng-show="isUser()" ng-class="{active: isActive('/myindices')}"><a href="/myindices">My Custom Indices</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>

        <li ng-show="isUser()">
            <input class="form-control" type="text" id="search" placeholder="Search for collections..." required style="margin:7px; width:300px">
        </li>
        <li ng-show="isUser()">
            <button type="button" class="btn btn-warning" style="height:33px; width:75px; margin:7px" ng-click="search(search)">Search</button>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/stats')}"><p class="navbar-text"><a href="/stats">{{ getCurrentUser().name }}</a></p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="/home" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- footer -->
<div class="container footer navbar-fixed-bottom">
    <p>MINdEXUS |
      ivywireline jtran12 jasonphan johnibr MsClaudz |
       <a href="https://github.com/csc301-fall-2015/project-team4-L0101"> github</a></p>
</div>


