<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to MINdEXUS!</h1>
    <p class="lead">Your Personal Media Index Nexus!</p>
  </div>
</header>

<div class="container">
  <div style="padding-top:50px;">
    <form class="form-horizontal" role="form" name="form" ng-submit="login(form)" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="email@email.com" ng-model="user.email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10"> 
          <input type="password" class="form-control" id="pwd" placeholder="***********" ng-model="user.password" required>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-info">Login</button>
          <a href="/signup" class="btn btn-warning">Sign up</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Steven's code heh.

<div class="container">
  <div style="padding-top:50px;">
    <h4>If you are a new user, sign up today to use our product!</h4>
    <a href="/signup" class="btn btn-default">Sign up</a>
    <div style="padding-top:20px">
      <h4>Please log in if you already have an account</h4>
      <a href="/login" class="btn btn-default">Log in</a>
    </div>
  </div>
</div>

//-->

<!-- Claudia's code for adding 
<div class="container">

  <h1 class="page-header">Entries:</h1>
    <p class="input-group" ng-repeat="entry in userEntries">
     <input type="text" ng-model="entry.name" class="form-control">
       <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="deleteEntry(entry)" aria-label="Remove">X</button>
       </span>
    </p> 
  <h1 class="page-header">Entries:</h1>
 


   Entries input 
  <form role="form" ng-submit="addEntry()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="newEntry" name ="newEntry" placeholder="Entry name?" class="form-control" required>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>

</div>

//-->

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
