<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome {{ getCurrentUser().name }} !</h1>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="hero-unit col-sm-2 container-fluid" style="height: 100%">
      <strong><p>Sort By:</p></strong>
      <select name="sort" ng-model="sortBy" class="form-control">
        <option value="" disabled selected>+ Choose One</option>
        <option value="lowToHigh">Ratings Low to High</option>
        <option value="highToLow">Ratings High to High</option>
        <option value="title">Title</option>
        <option value="dateAdded">Date Added</option>
      </select>
      <br>
      <strong><p>Filters:</p></strong>
      <select name="filters" ng-model="filterCategory" class="form-control">
        <option value="" disabled selected>+ Choose One</option>
        <option value="keyword">Keyword</option>
        <option value="category">Category</option>
      </select>
      <br>
      <!--TODO: Link all the By Category and Keyword to do the stuff intended-->
      <uib-accordion close-others="false" ng-model="filterCategory">
          <uib-accordion-group  class = "col-sm-13">
            <uib-accordion-heading>
              Browse Entries:
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-th': !status.open}"></i>

            </uib-accordion-heading>
              <ul>
                <li><font color="black">By Category</font></li>
                <li><font color="black">By Keyword</font></li>
              </ul>
          </uib-accordion-group>
      </uib-accordion>
      <uib-accordion close-others="false" ng-model="filterCategory">
        <uib-accordion-group  class = "col-sm-13">
          <uib-accordion-heading>
            <strong>Browse Indexes:</strong>
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-list-alt': !status.open}"></i>

          </uib-accordion-heading>
            <ul>
              <li><font color="black">By Category</font></li>
              <li><font color="black">By Keyword</font></li>
            </ul>
        </uib-accordion-group>
      </uib-accordion>
      <br>
      <button type="button" class="btn btn-danger btn-lg" ng-click="refreshEntries()" style="float: center">Collapse All</button>
      <button class="btn btn-info btn-lg" href="/collections" aria-label="Remove" style="float: center;">My Indexes</button>
      <button type="button" class="btn btn-warning btn-lg" ng-click="isCollapsed = !isCollapsed" style="float: center;">+New Entry</button>

    </div>



    <div class="container-fluid col-sm-5">
      <br>
        <!--  Entries Input -->  
        <div uib-collapse="isCollapsed">
          <div class="well well-lg">
            <form class="form-horizontal" role="form" ng-submit="addEntry()">
              <div class="form-group">
                <label class = "col-sm-2 control-label">Name/Title:</label>
                <div class = "col-sm-10">
                  <input type="text" ng-model="newEntry" name ="newEntry" placeholder="Enter media name" class="form-control" required>
                </div>
              </div>

              <div class="form-group">
                <label class = "col-sm-2 control-label">Category:</label>
                <div class = "col-sm-4">
                  <select name="category" ng-model="newCategory" class="form-control">
                    <option value="" disabled selected>+ Choose One</option>
                    <option value="TV Show">TV Show</option>
                    <option value="Movie">Movie</option>
                    <option value="Book">Book</option>
                    <option value="Video Game">Video Game</option>
                  </select>
                </div>
                <label class = "col-sm-2 control-label">or New Category:</label>
                <div class = "col-sm-4">
                  <input type="text" ng-model="newCategory" name ="newCategory" placeholder="Enter media Category" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class = "col-sm-2 control-label">Keywords (separate with space):</label>
                <div class = "col-sm-10">
                  <input type="text" ng-model="newKeywordsString" name ="newKeywordsString" placeholder="Add Keywords" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class = "col-sm-2 control-label">Personal Note:</label>
                <div class = "col-sm-10">
                  <input type="text" ng-model="newNote" name ="newNote" placeholder="Enter Personal Note" class="form-control" required>
                </div> 
              </div> 
          
              <div class="form-group">
                <label class = "col-sm-2 control-label">Rating (0-5) (optional):</label>
                <div class = "col-sm-10">
                    <uib-rating ng-model="newRating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" ></uib-rating>
                </div>
              </div>

              <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="newSeenIt">Seen it already</label>
                  </div>
                </div>
              </div>     
              <div class="form-group">
                <div class = "col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="button" class="btn btn-danger" ng-click="isCollapsed = !isCollapsed">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>


        <h1>Want to See</h1>

        <!-- Entry info -->
        <uib-accordion close-others="false" ng-repeat="entry in toSee">
          <uib-accordion-group  class = "col-sm-13">
            <button class="btn btn-danger btn-sm" ng-click="deleteEntry(entry)" aria-label="Remove" style="float: right;">Delete Entry</button>
            <uib-accordion-heading>
              <strong>Title:</strong> {{entry.name}}
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
              <strong>Date Added:</strong> {{entry.date}} <br>
              <strong>Category:</strong> {{entry.category}} <br>
              <strong>Keywords:</strong> {{entry.keywords}} <br>
              <strong>Rating:</strong> <uib-rating ng-model="entry.rating" max="5" aria-labelledby="default-rating" readonly = "true"></uib-rating><br>
              <strong>Seen It:</strong> {{entry.seenIt}} <br>
              <strong>Personal Note:</strong> {{entry.note}}
              <br><br>
              <button class="btn btn-warning" ng-click="editEntry(entry)" aria-label="Edit">Edit Entry</button>
              <button class="btn btn-info" ng-click="hasSeen(entry)" aria-label="Seen">Seen It</button>
          </uib-accordion-group>
        </uib-accordion>


    </div>



    <div class="col-sm-5 container-fluid">
      <br>
      <h1>Seen It</h1>

      <!-- Entry info -->
      <uib-accordion close-others="false" ng-repeat="entry in seenIt">
        <uib-accordion-group  class = "col-sm-13">
          <button class="btn btn-danger btn-sm" ng-click="deleteEntry(entry)" aria-label="Remove" style="float: right;">Delete Entry</button>
          <uib-accordion-heading>
            <strong>Title:</strong> {{entry.name}}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
            <strong>Date Added:</strong> {{entry.date}} <br>
            <strong>Category:</strong> {{entry.category}} <br>
            <strong>Keywords:</strong> {{entry.keywords}} <br>
            <strong>Rating:</strong> <uib-rating ng-model="entry.rating" max="5" aria-labelledby="default-rating" readonly = "true"></uib-rating><br>
            <strong>Seen It:</strong> {{entry.seenIt}} <br>
            <strong>Personal Note:</strong> {{entry.note}}
            <br><br>
            <button class="btn btn-warning" ng-click="editEntry(entry)" aria-label="Edit">Edit Entry</button>
            <button class="btn btn-info" ng-click="hasSeen(entry)" aria-label="Seen">Seen It</button>
        </uib-accordion-group>
      </uib-accordion>



    <div>


  </div>

</div>
