<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to MINdEXUS!</h1>
    <p class="lead">web dev confuses me</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">

  <h1 class="page-header">Entries:</h1>
    <p class="input-group" ng-repeat="entry in userEntries">
     <input type="text" ng-model="entry.name" class="form-control">
       <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="deleteEntry(entry)" aria-label="Remove">X</button>
       </span>
    </p> 
  <h1 class="page-header">Entries:</h1>
 


   Entries input 
  <form role="form" ng-submit="addEntry()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="newEntry" name ="newEntry" placeholder="Entry name?" class="form-control" required>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>

</div>